{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2 style="margin-top:20px" align="center">Add Company</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:10%">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
    
      <div class="form-group col-md-6">
        <label for="inputEmail4">Company Name</label>
        <input type="text" class="form-control" placeholder="Enter Supplier Name" name="cname" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Supplier Name</label>
        <input type="text" class="form-control" placeholder="Enter Supplier Name" name="sname" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Product Name</label>
        <input type="text" class="form-control" placeholder="Enter Product Name" name="prnname" id="inputEmail4">
      </div>
    <!--<div class="form-group col-md-6">
    <label for="exampleInputPassword1">Product Image</label>
    <input type="file" class="form-control" id="exampleInputPassword1" name="img" value="choose file">
</div>-->
<div class="form-group col-md-6">
      <label for="exampleInputPassword1">Supplier Contact</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter Contact Number" name="scontact">
      <!--<input type="tel" class="form-control" id="exampleInputPassword1" name="contact" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}">-->
    </div></div>
    <div class="form-row">
        <!--<div class="form-group col-md-6">
      <label for="inputState">Category</label>
      <select id="inputState" class="form-control" name="cat">
          {% for i in cat %}
        <option value="{{i.name}}">{{i.name}}</option>
          {% endfor %}
      </select>
    </div>-->

    <!--<div class="form-group col-md-6">
      <label for="inputEmail4">Supplier Contact</label>
      <input type="number" class="form-control" name="price" placeholder="Enter Contact Number" id="inputEmail4">
    </div>--></div>
    <div class="form-row">
     <!--<div class="form-group col-md-6">
        <label for="inputEmail4">Product availability</label>
        <input type="text" class="form-control" placeholder="In Stock" name="availability" id="inputEmail4">
        <input type="text" class="form-control" placeholder="Out Stock" name="avail" id="inputEmail4">
     </div>-->
     <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Date of Delivery</label>
  <input type="date" class="form-control" id="exampleInputPassword1" name="date">
</div>
    <div class="form-group col-md-6"> <!--col-md-6 is used for alignment-->
    <label for="exampleFormControlTextarea1">Address</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="add" rows="3"></textarea>
  </div>
  <!--below line style is used to get submit in next line-->
  <button type="submit" class="btn btn-primary"style="height:45px;margin-top:2%;width:25%;float:center">Submit</button>
</form>
</div>
</div>

{% if error %}
<script>
    alert('1 Supplier Added Successfully');
</script>
{% endif %}
{% endblock %}